<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.imoxion.sensems.server.repository.mapper.DkimMapper">
    <select id="getDkimList" resultType="com.imoxion.sensems.server.domain.Dkim">
        select * from imb_dkim where use_sign = '1'
    </select>

    <select id="getDkim" resultType="com.imoxion.sensems.server.domain.Dkim">
        select * from imb_dkim where domain = #{domain}
    </select>
</mapper>